@model SignInViewModel


<section class="account">
    <div class="container">
        <div class="sidebar">
            <img src="" alt="" class="avatar">
            <h5></h5>
            <p class="sidebar-email">john.doe@domain.com</p>

            <button class="details btn-theme">Account Details</button>
            <a asp-action="SignOut" asp-controller="Auth" class="sign-out"><img src="" alt="">Sign Out</a>
        </div>

        <div class="content">
            <h2>Account Details</h2>
            <div class="basic">
            <h5 class="basic-info">Basic Info</h5>
            <p>First name</p>
            <input type="text" class="basic-input label-l">
            <p>Last name</p>
            <input type="text" class="basic-input label-l">
            <p>Email address</p>
            <input type="text" class="basic-input label-l">
            <p>Phone</p>
            <input type="text" class="basic-input label-l">
            <p>Bio</p>
            <label class="basic-input label-l" for="">Add a short bio...</label>
            </div>


        </div>
    </div>
</section>

