.label-l {
gap: 4px;
flex-shrink: 0;
border-radius: 8px;
border: 1px solid var(--color-gray-400);
background: var(--White, #FFF);
font-size: 1em;
font-weight: 400;
line-height: 160%;

    .label-l::placeholder {
        color: var(--color-gray-500);
        font-weight: 400;
    }
}

