@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --color-white: #ffffff;
  --color-gray-100: #f3f6ff;
  --color-gray-200: #eff2fc;
  --color-gray-300: #e2e5f1;
  --color-gray-400: #d4d7e5;
  --color-gray-500: #b4b7c9;
  --color-gray-600: #9397ad;
  --color-gray-700: #565973;
  --color-gray-800: #33354d;
  --color-gray-900: #0b0f19;
  --color-black: #000000;
  --color-theme: #6366f1;
  --color-danger: #ef4444;
  --color-success: #22c55e;
  --color-warning: #ffba00;
  --color-info: #4c82f7;
  --color-danger-bg: #f5d7da;
}

:root {
  --font-manrope: "Manrope", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-manrope);
  font-size: 16px;
  font-weight: 400;
  background-color: var(--color-white);
  color: var(--color-gray-900);
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.btn-socialmedia {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
.btn-socialmedia:hover {
  background-color: var(--color-gray-800);
  color: var(--color-gray-200);
}

.btn-theme {
  border: none;
  font-weight: 600;
  border-radius: 8px;
  padding: 16px 35px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  color: var(--color-white);
  background-color: var(--color-theme);
}
.btn-theme i {
  margin-right: 10px;
}
.btn-theme:hover {
  color: var(--color-white);
  background-color: var(--color-gray-800);
}

.btn-theme-secondary {
  border: none;
  font-weight: 600;
  border-radius: 8px;
  padding: 16px 35px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  color: var(--color-gray-800);
  background-color: var(--color-gray-200);
}
.btn-theme-secondary i {
  margin-right: 10px;
}
.btn-theme-secondary:hover {
  color: var(--color-white);
  background-color: var(--color-gray-800);
}

.btn-small {
  padding: 12px 35px !important;
}

.btn-mobile {
  border: none;
  font-weight: 600;
  border-radius: 8px;
  padding: 16px 35px;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  padding: 0;
  height: 50px;
  width: 55px;
  font-size: 20px;
}
.btn-mobile i {
  margin-right: 10px;
}
.btn-mobile:hover {
  color: var(--color-white);
  background-color: var(--color-gray-800);
}
.btn-mobile i {
  margin-right: 0;
}

.label-l {
  gap: 4px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid var(--color-gray-400);
  background: var(--White, #FFF);
  font-size: 1em;
  font-weight: 400;
  line-height: 160%;
}
.label-l .label-l::-moz-placeholder {
  color: var(--color-gray-500);
  font-weight: 400;
}
.label-l .label-l::placeholder {
  color: var(--color-gray-500);
  font-weight: 400;
}

.profile-avatar {
  width: 100px;
}

header {
  padding: 15px 0;
}
header .container {
  display: grid;
  align-items: center;
  gap: 40px;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo mobile";
}
@media (min-width: 1200px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo nav sw account";
  }
}
header .container .logo {
  grid-area: logo;
}
header .container nav {
  grid-area: nav;
  display: none;
  gap: 20px;
}
header .container nav a {
  text-decoration: none;
  font-weight: 600;
  color: var(--color-gray-800);
}
header .container nav a:active, header .container nav a.active, header .container nav a:hover {
  color: var(--color-theme);
  text-decoration: underline;
}
@media (min-width: 1200px) {
  header .container nav {
    display: flex;
  }
}
header .container .light-toggle {
  display: flex;
  transform: translateY(25%);
}
header .container .light-toggle .switch {
  transform: translateY(-5%);
}
header .container .btn-switch {
  grid-area: sw;
}
header .container .account-buttons {
  grid-area: account;
  display: none;
  gap: 20px;
}
@media (min-width: 1200px) {
  header .container .account-buttons {
    display: flex;
  }
}
header .container .btn-mobile {
  grid-area: mobile;
  display: block;
}
@media (min-width: 1200px) {
  header .container .btn-mobile {
    display: none;
  }
}

.signin .container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.signin .container h1 {
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 2.5em !important;
  margin-left: 365px;
  margin-bottom: 10px;
}
.signin .container .subtitle {
  margin-left: 365px;
  margin-bottom: 30px;
  font-size: 1em;
  color: var(--color-gray-700);
}
.signin .container .input-group {
  display: grid;
  justify-content: center;
}
.signin .container .input-group p {
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 5px;
}
.signin .container .input-group .input {
  margin-bottom: 30px;
  color: var(--color-gray-800);
  line-height: 160%;
  padding-left: 10px;
  width: 526px;
  height: 52px;
}
.signin .container .checkbox-group {
  display: flex;
}
.signin .container .checkbox-group .remember-subtitle {
  margin-left: 10px;
  font-weight: 400;
  color: var(--color-gray-700);
}
.signin .container .checkbox-group .box {
  padding-right: 10px;
  transform: translateY(-10%);
}
.signin .container .sign-in {
  text-align: center;
  margin-top: 50px;
}
.signin .container .forgot-password {
  text-decoration: none;
  margin-top: 20px;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  color: var(--color-theme);
}

.signup .container {
  margin-top: 100px;
  margin-bottom: 100px;
}
.signup .container h1 {
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 2.5em !important;
  margin-left: 365px;
  margin-bottom: 10px;
}
.signup .container .subtitle {
  margin-left: 365px;
  margin-bottom: 30px;
  font-size: 1em;
  color: var(--color-gray-700);
}
.signup .container .input-group {
  display: grid;
  justify-content: center;
}
.signup .container .input-group .name {
  display: grid;
  grid-template-columns: repeat(1, 0fr);
}
.signup .container .input-group .name .input-name {
  margin-bottom: 30px;
  color: var(--color-gray-800);
  line-height: 160%;
  padding-left: 10px;
  width: 251px;
  height: 52px;
}
.signup .container .input-group .name .lastname {
  display: grid;
  grid-template-columns: repeat(1, 0fr);
  position: absolute;
  margin-left: 275px;
}
.signup .container .input-group p {
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 5px;
}
.signup .container .input-group .input {
  margin-bottom: 30px;
  color: var(--color-gray-800);
  line-height: 160%;
  padding-left: 10px;
  width: 526px;
  height: 52px;
}
.signup .container .checkbox-group {
  gap: 10px;
  display: flex;
}
.signup .container .checkbox-group .checkbox-subtitle {
  font-weight: 400;
  color: var(--color-gray-700);
}
.signup .container .sign-up {
  text-align: center;
  margin-top: 50px;
}

.account-details .container .sidebar {
  margin-top: 10px;
  text-align: center;
  margin-right: 970px;
}
.account-details .container .sidebar .avatar {
  margin-left: 0px;
}
.account-details .container .sidebar h5 {
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 1.25em !important;
}
.account-details .container .sidebar .sidebar-email {
  margin-bottom: 50px;
}
.account-details .container .sidebar .details {
  width: 270px;
  padding-right: 100px;
}
.account-details .container .sidebar .sign-out {
  margin-top: 50px;
  padding-right: 50px;
  left: 9%;
  top: 45%;
  color: var(--color-gray-800);
  font-weight: 600;
  text-decoration: none;
  position: absolute;
}
.account-details .container .content {
  margin-left: 450px;
}
.account-details .container .content .input-group {
  display: grid;
  grid-template-columns: repeat(1, 0fr);
}
.account-details .container .content .input-group .input {
  margin-bottom: 30px;
  color: var(--color-gray-800);
  line-height: 160%;
  padding-left: 10px;
  width: 824px;
  height: 52px;
}
.account-details .container .content .input-group .input-short {
  margin-bottom: 30px;
  color: var(--color-gray-800);
  line-height: 160%;
  padding-left: 10px;
  width: 384px;
  height: 52px;
}
.account-details .container .content .input-group .input-big {
  margin-bottom: 30px;
  color: var(--color-gray-800);
  line-height: 160%;
  padding-left: 10px;
  width: 824px;
  height: 78px;
}
.account-details .container .content .input-group .basic-info .short-basic-labels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.account-details .container .content .input-group .basic-info .short-basic-labels .firstname {
  display: grid;
  grid-template-columns: repeat(1, 0fr);
}
.account-details .container .content .input-group .basic-info .short-basic-labels .lastname {
  display: grid;
  grid-template-columns: repeat(1, 0fr);
  margin-left: 25px;
}
.account-details .container .content .input-group .basic-info .short-basic-labels .email {
  display: grid;
  grid-template-columns: repeat(1, 0fr);
}
.account-details .container .content .input-group .basic-info .short-basic-labels .phonenumber {
  display: grid;
  grid-template-columns: repeat(1, 0fr);
  margin-left: 25px;
}
.account-details .container .content .input-group .address .short-address-labels {
  display: flex;
}
.account-details .container .content .input-group .address .short-address-labels .postalcode {
  display: grid;
  grid-template-columns: repeat(1, 0fr);
}
.account-details .container .content .input-group .address .short-address-labels .city {
  display: grid;
  grid-template-columns: repeat(1, 0fr);
  margin-left: 55px;
}
.account-details .container .content .input-group .save {
  margin-left: 50px;
}

.showcase {
  padding-top: 70px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.showcase .container {
  padding-left: 80px;
}
.showcase .container .content {
  font-size: 1rem;
  padding-bottom: 50px;
}
.showcase .container .content h1 {
  width: 526px;
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 3.5em !important;
  line-height: 130%;
}
.showcase .container .content p {
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 1.25em !important;
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-gray-700);
  line-height: 160%;
  padding: 40px 0 50px 0;
  margin-right: 5px;
}
.showcase .container .content .brands h6 {
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 1em !important;
  margin: 100px 0 50px 0;
}
.showcase .container .content .brands .brands-logos {
  display: flex;
  gap: 30px;
}
.showcase .container .content .brands .brands-logos .brand-logo {
  width: 120px;
}
.showcase .showcase-img {
  width: 50%;
  position: absolute;
  right: 0;
}

.benefits {
  background-color: var(--color-gray-100);
}
.benefits .container {
  padding: 100px;
  text-align: center;
}
.benefits .container h1 {
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 2.5em !important;
  padding-bottom: 25px;
}
.benefits .container .subtitle {
  color: var(--color-gray-700);
  padding-bottom: 100px;
  font-size: 1.125rem;
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 400;
  margin-left: 220px;
  margin-right: 220px;
}
.benefits .container .boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
.benefits .container .boxes h5 {
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 1.25em !important;
  margin-bottom: 15px;
}
.benefits .container .boxes p {
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-gray-700);
}
.benefits .container .boxes .box {
  padding: 40px;
  gap: 24px;
  border-right: 2px solid rgba(19, 16, 34, 0.03);
  border-bottom: 2px solid rgba(19, 16, 34, 0.06);
}
.benefits .container .boxes .box:nth-child(3n) {
  border-right: none;
}
.benefits .container .boxes .box:nth-last-child(-n+3) {
  border-bottom: none;
}
.benefits .container .boxes .box .box-img {
  margin-bottom: 30px;
}
.benefits .container .boxes .box:hover {
  border-radius: 8px;
  background: var(--color-white);
  transition: ease-in-out 0.2s;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
}
.slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--color-gray-900);
  z-index: 1;
}
.slider::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--color-white);
  z-index: 1;
}
.slider .line {
  position: absolute;
  z-index: 4;
  height: 100%;
}
.slider .slide-img {
  position: absolute;
  z-index: 5;
  margin-top: 430px;
}
.slider .ellipse {
  position: absolute;
  z-index: 4;
  margin-top: 420px;
}
.slider .dark {
  position: relative;
  z-index: 1;
}
.slider .dark .h1-dark {
  color: var(--color-white);
  margin-left: 350px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.slider .dark .macbook-dark {
  width: 100%;
}
.slider .light {
  position: absolute;
  right: 174px;
  top: 0;
  z-index: 3; /* Ensure light content is above the light background */
}
.slider .light .h1-light {
  padding-top: 50px;
  padding-bottom: 50px;
}
.slider .light .macbook-light {
  width: 100%;
}

.content-section .container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
.content-section .container .task-img {
  width: 60%;
  margin-right: 100px;
}
.content-section .container .content {
  margin-top: 150px;
}
.content-section .container .content h2 {
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 2em !important;
  line-height: 130%;
  margin-bottom: 5px;
}
.content-section .container .content .lists {
  display: flex;
  justify-content: center;
}
.content-section .container .content .lists .list-img {
  margin-top: 4px;
  margin-right: 10px;
}
.content-section .container .content .lists .list-img .list-items-img {
  margin-top: 17px;
  list-style: none;
}
.content-section .container .content .lists .list {
  list-style: none;
  padding-bottom: 50px;
}
.content-section .container .content .lists .list .list-items {
  margin-top: 20px;
  font-size: 1rem;
  color: var(-color--gray-700);
}
.content-section .container .content .learn-more .btn-img {
  position: relative;
  top: 5px;
}

.testimonials {
  background-color: var(--color-gray-200);
}
.testimonials .container {
  padding-top: 70px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.testimonials .container .phone {
  margin-left: 125px;
}
.testimonials .container .content {
  margin-left: 100px;
  margin-top: 50px;
}
.testimonials .container .content h1 {
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 2.5em !important;
  margin-right: 100px;
  margin-bottom: 50px;
}
.testimonials .container .content h4 {
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 1.5em !important;
  margin-top: 10px;
  margin-bottom: 5px;
}
.testimonials .container .content p {
  color: var(--color-gray-600);
}
.testimonials .container .content .rating {
  color: var(--color-gray-700);
}
.testimonials .container .content .google {
  margin-top: 50px;
}
.testimonials .container .content .stars {
  margin-top: 10px;
}
.testimonials .container .content .logo {
  position: absolute;
  padding-top: 25px;
  padding-left: 250px;
}

.tools .container {
  text-align: center;
  padding: 100px;
}
.tools .container h1 {
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 2.5em !important;
}
.tools .container .subtitle {
  color: var(--color-gray-600);
  font-size: 1rem;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 100px;
}
.tools .container .boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  text-align: left;
  margin-bottom: 50px;
}
.tools .container .boxes .box {
  color: var(--color-gray-700);
  font-size: 1rem;
  width: 100%;
  padding: 20px;
  margin-bottom: 50px;
}
.tools .container .boxes .box:hover {
  border-radius: 8px;
  box-shadow: 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03), 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06);
  transition: ease-in-out 0.2s;
}
.subscribe {
  background-color: var(--color-gray-100);
  padding-top: 100px;
  padding-bottom: 100px;
}
.subscribe .container h1 {
  text-align: center;
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 2.5em !important;
  margin-bottom: 50px;
  margin-right: 180px;
}
.subscribe .container .status {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: 400;
}
.subscribe .container .arrow {
  position: absolute;
  margin-left: 850px;
  margin-top: 5px;
}
.subscribe .container .content h5 {
  transform: translateY(15%);
  position: absolute;
  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 800;
  font-size: 1.25em !important;
  padding-left: 250px;
  margin-right: 900px;
}
.subscribe .container .content .checkboxes {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(3, 0.2fr);
  list-style: none;
  margin-left: 475px;
}
.subscribe .container .content .checkboxes .checkbox {
  width: 215px;
  margin-bottom: 20px;
}
.subscribe .container .content .checkboxes .checkbox .box {
  transform: translateY(25%);
  margin-right: 10px;
}
.subscribe .container .content .input-container {
  position: relative;
  margin-left: 250px;
}
.subscribe .container .content .input-container .input {
  padding: 10px;
  padding-right: 470px;
  padding-left: 40px;
}
.subscribe .container .content .input-container .icon-container {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-40%);
}
.subscribe .container .content .subscribe-btn {
  position: absolute;
  right: 240px;
  transform: translateY(-100%);
}
.subscribe .container .content .terms {
  color: var(--color-gray-600);
  font-size: 14px;
  font-weight: 400;
  margin-left: 255px;
  margin-top: 10px;
}
.subscribe .container .content .terms .star {
  color: var(--color-theme);
}
.subscribe .container .content .terms .terms-span {
  color: var(--color-theme);
  text-decoration: underline;
}

footer {
  margin: 20px;
}
footer .container {
  text-align: center;
}
footer .container .social-media {
  display: none;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  footer .container .social-media {
    display: flex;
  }
}
footer .container .copyright {
  font-size: 14px;
  width: 100%;
  line-height: 160%;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) {
  footer .container .copyright {
    width: 60%;
  }
}
footer .container .copyright span {
  display: none;
}
@media (min-width: 1400px) {
  footer .container .copyright span {
    display: inline;
  }
}