.signup {
    .container {
        margin-top: 100px;
        margin-bottom: 100px;
        h1 {
            @include font-h1;
            margin-left: 365px;
            margin-bottom: 10px;
        }

        .subtitle {
            margin-left: 365px;
            margin-bottom: 30px;
            font-size: 1em;
            color: var(--color-gray-700);
        }

        .input-group {
            display: grid;
            justify-content: center;

            .name {
                display: grid;
                grid-template-columns: repeat(1, 0fr);
                .input-name {
                    margin-bottom: 30px;
                    color: var(--color-gray-800);
                    line-height: 160%;
                    padding-left: 10px;
                    width: 251px;
                    height: 52px;
                }

                .lastname {
                    display: grid;
                    grid-template-columns: repeat(1, 0fr);
                    position: absolute;
                    margin-left: 275px;
                }
                
            }

            p {
                font-weight: 600;
                font-size: 1em;
                margin-bottom: 5px;
            }

            .input {
                margin-bottom: 30px;
                color: var(--color-gray-800);
                line-height: 160%;
                padding-left: 10px;
                width: 526px;
                height: 52px;
            }
        }
        .checkbox-group {
            gap: 10px;
            display: flex;
            .checkbox-subtitle {
                font-weight: 400;
                color: var(--color-gray-700);
            }
        }
        .sign-up {
            text-align: center;
            margin-top: 50px;
        }
    }
}