<section class="courses">
    <div class="container">
        <p class="sorting"></p>
        <h1 class="title">Courses</h1>
        <div class="alternatives">
            <input type="menu" placeholder="All categories">
            <input type="text" placeholder="Search courses">
        </div>

        <div class="boxes">
            <div class="box">
                <img src="" alt="">
                <h5>Fullstack Web Developer Course from Scratch</h5>
                <p class="subtitle">By Robert Fox</p>
                <p class="price">$12.50</p>

                <div class="lower-box">
                    <p class="lower-subtitle"><i></i>220 hours</p>
                    <p class="lower-subtitle"><i></i>94% (4.2k)</p>
                </div>
            </div>
            <div class="box">
                <img src="" alt="">
                <h5>HTML, CSS, Javascript Web Developer</h5>
                <p class="subtitle">By Jenny Wilson & Marvin McKinney</p>
                <p class="price">$15.99</p>                

                <div class="lower-box">
                    <p class="lower-subtitle"><i></i>160 hours</p>
                    <p class="lower-subtitle"><i></i>92% (3.1k)</p>
                </div>
            </div>
            <div class="box">
                <img src="" alt="">
                <h5>The Complete Front-End Web Development Course</h5>
                <p class="subtitle">By Albert Flores</p>
                <p class="new-price">$9.99</p>
                <p class="old-price">$44.99</p>

                <div class="lower-box">
                    <p class="lower-subtitle"><i></i>100 hours</p>
                    <p class="lower-subtitle"><i></i>98% (2.7k)</p>
                </div>
            </div>
            <div class="box">
                <img src="" alt="">
                <h5>iOS & Swift - The Complete iOS App Development Course</h5>
                <p class="subtitle">By Marvin McKinney</p>
                <p class="price">$15.99</p>

                <div class="lower-box">
                    <p class="lower-subtitle"><i></i>160 hours</p>
                    <p class="lower-subtitle"><i></i>92% (3.1k)</p>
                </div>
            </div>
            <div class="box">
                <img src="" alt="">
                <h5>Data Science & Machine Learning with Python</h5>
                <p class="subtitle">By Esther Howard</p>
                <p class="price">$11.20</p>

                <div class="lower-box">
                    <p class="lower-subtitle"><i></i>160 hours</p>
                    <p class="lower-subtitle"><i></i>92% (3.1k)</p>
                </div>
            </div>
            <div class="box">
                <img src="" alt="">
                <h5>Creative CSS Drawing Course: Make Art With CSS</h5>
                <p class="subtitle">By Robert Fox</p>
                <p class="price">$10.50</p>

                <div class="lower-box">
                    <p class="lower-subtitle"><i></i>220 hours</p>
                    <p class="lower-subtitle"><i></i>94% (4.2k)</p>
                </div>
            </div>
            <div class="box">
                <img src="" alt="">
                <h5>Blender Character Creater v2.0 for Video Games Design</h5>
                <p class="subtitle">By Ralph Edwards</p>
                <p class="price">$18.99</p>

                <div class="lower-box">
                    <p class="lower-subtitle"><i></i>160 hours</p>
                    <p class="lower-subtitle"><i></i>92% (3.1k)</p>
                </div>
            </div>
            <div class="box">
                <img src="" alt="">
                <h5>The Ultimate Guide to 2D Mobile Game Development with Unity</h5>
                <p class="subtitle">By Albert Flores</p>
                <p class="new-price">$12.99</p>
                <p class="old-price">$44.99</p>

                <div class="lower-box">
                    <p class="lower-subtitle"><i></i>100 hours</p>
                    <p class="lower-subtitle"><i></i>98% (2.7k)</p>
                </div>
            </div>
            <div class="box">
                <img src="" alt="">
                <h5>Learn JMETER from Scratch on Live Apps-Performance Testing</h5>
                <p class="subtitle">By Jenny Wilson</p>
                <p class="price">$14.50</p>

                <div class="lower-box">
                    <p class="lower-subtitle"><i></i>160 hours</p>
                    <p class="lower-subtitle"><i></i>92% (3.1k)</p>
                </div>
            </div>
        </div>

        <div class="pages">
            <ul class="list">
                <li><i></i></li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li><i></i></li>
            </ul>
        </div>
    </div>
</section>