<section class="content-section">
    <div class="container">
        <img src="~/images/task-img.svg" alt="" class="task-img">
        <div class="content">
            <h2>Manage Your Work</h2>
            <div class="lists">
            <ul class="list-img">
                <li class="list-items-img"><img src="~/images/bx-check-circle.svg" alt=""></li>
                <li class="list-items-img"><img src="~/images/bx-check-circle.svg" alt=""></li>
                <li class="list-items-img"><img src="~/images/bx-check-circle.svg" alt=""></li>
                <li class="list-items-img"><img src="~/images/bx-check-circle.svg" alt=""></li>
                <li class="list-items-img"><img src="~/images/bx-check-circle.svg" alt=""></li>
            </ul>
            <ul class="list">
                <li class="list-items">Powerful project management</li>
                <li class="list-items">Transparent work management</li>
                <li class="list-items">Manage work & focus on the most important tasks</li>
                <li class="list-items">Track your progress with interactive charts</li>
                <li class="list-items">Easiest way to track time spent on tasks</li>
            </ul>
            </div>
       
            <a asp-action="Index" asp-controller="Features" class="learn-more btn-theme">Learn more <img class="btn-img" src="~/images/arrow-r.svg" alt=""></a>
        </div>
    </div>
</section>