@{
    var user = await UserManager.GetUserAsync(User);
}

<header>
    <div class="container">
        <a class="logo" asp-action="Home" asp-controller="Default"><img src="~/images/logos/silicon-logo.svg" alt="Silicon" /></a>

        <nav>
            <a asp-action="Home" asp-controller="Default">Overview</a>


            @if (SignInManager.IsSignedIn(User) && user != null)
            {
                <a asp-action="Courses" asp-controller="Courses">Courses</a>
            }
            else
            {
                <a asp-action="Home" asp-controller="Default">Features</a>
            }

            <a asp-action="Home" asp-controller="Default">Contact</a>
        </nav>
        <div class="light-toggle">
            <p>Light</p>
            <img src="~/images/light-toggle.svg" alt="" class="switch">
            <p>Dark</p>
        </div>
        <div class="account-buttons">
            @if (SignInManager.IsSignedIn(User) && user != null)
            {
            <div class="profile">
                <div class="image">
                    <a asp-action="AccountDetails" asp-controller="Account">
                         <img src="@Configuration["FilePath:ProfileImagePath"]/@user.ProfileImage" alt="" class="profile-avatar avatar" />
                    </a>
                </div>
            </div>
            }
            else 
            {
            <a class="btn-theme-secondary btn-small" asp-action="SignIn" asp-controller="Auth"><i class="fa-regular fa-arrow-right-to-bracket"></i>Sign in</a>
            <a class="btn-theme btn-small" asp-action="SignUp" asp-controller="Auth"><i class="fa-regular fa-user"></i>Sign up</a>
            }
        </div>

            <button class="btn-mobile"><i class="fa-regular fa-bars"></i></button>

    </div>
</header>