<section class="slider">
            <img class="slide-img" src="~/images/bx-move-horizontal.svg" alt="">
            <img class="ellipse" src="~/images/Ellipse.svg" alt="">
            <img src="~/images/Line.svg" alt="" class="line">
        <div class="dark">
            <h1 class="h1-dark">Switch Between</h1>
            <img class="macbook-dark" src="~/images/MacBook-Pro-dark.svg" alt="">
        </div>
        <div class="light">
            <h1 class="h1-light">Light & Dark Mode</h1>
            <img class="macbook-light" src="~/images/MacBook-Pro-light.svg" alt="">
        </div>
</section>
