<section class="subscribe">
    <div class="container">
        <img class="arrow" src="~/images/arrow-swirl.svg" alt="">
        <h1>Don't Want to Miss Anything?</h1>
        <div class="content">
            <h5>Sign up for Newsletters</h5>
            <ul class="checkboxes">
                <li class="checkbox"><img src="~/images/square.svg" alt="" class="box">Daily Newsletter</li>
                <li class="checkbox"><img src="~/images/square.svg" alt="" class="box">Advertising Updates</li>
                <li class="checkbox"><img src="~/images/square.svg" alt="" class="box">Week in Review</li>
                <li class="checkbox"><img src="~/images/square.svg" alt="" class="box">Event Updates</li>
                <li class="checkbox"><img src="~/images/square.svg" alt="" class="box">Startups Weekly</li>
                <li class="checkbox"><img src="~/images/square.svg" alt="" class="box">Podcasts</li>
            </ul>

        <div class="input-container">
                <input class="input label-l" type="text" placeholder="Your Email">
            <div class="icon-container">
                <img src="~/images/bx-envelope.svg" alt="Email Icon">
            </div>
        </div>


            <button class="subscribe-btn btn-theme">Subscribe *</button>
            <p class="terms"><span class="star">*</span> Yes, I agree to the <span class="terms-span">terms</span> and <span class="terms-span">privacy policy</span></p>
        </div>
    </div>
    <script src="~/js/components/subscribe-box.js" asp-append-version="true"></script>
</section>
