@model SubscribeViewModel

<section class="subscribe">
    <div class="container">
        <img class="arrow" src="~/images/arrow-swirl.svg" alt="">
        <h1>Don't Want to Miss Anything?</h1>
        <div class="content">
            <form method="post" asp-action="Subscribe" asp-controller="Default">
                <h5>Sign up for Newsletters</h5>
            <div class="checkboxes">
                <div class="checkbox">
                    <input asp-for="DailyNewsletter" />
                    <label asp-for="DailyNewsletter">Daily Newsletter</label>
                </div>
                <div class="checkbox">
                    <input asp-for="AdvertisingUpdates" />
                    <label asp-for="AdvertisingUpdates">Advertising Updates</label>
                </div>
                <div class="checkbox">
                    <input asp-for="WeekinReview" />
                    <label asp-for="WeekinReview">Week in Review</label>
                </div>
                <div class="checkbox">
                    <input asp-for="EventUpdates" />
                    <label asp-for="EventUpdates">Event Updates</label>
                </div>
                <div class="checkbox">
                    <input asp-for="StartupsWeekly" />
                    <label asp-for="StartupsWeekly">Startups Weekly</label>
                </div>
                <div class="checkbox">
                    <input asp-for="Podcasts" />
                    <label asp-for="Podcasts">Podcasts</label>
                </div>
            </div> 
            <div class="input-container">
                <input asp-for="Email" class="input label-l" type="text" placeholder="Your Email">
            <div class="icon-container">
                <img src="~/images/bx-envelope.svg" alt="Email Icon">
            </div>
        </div>
    <button type="submit" class="subscribe-btn btn-theme">Subscribe *</button>
    <p class="terms"><span class="star">*</span> Yes, I agree to the <span class="terms-span">terms</span> and <span class="terms-span">privacy policy</span></p>
            </form>
        </div>
    </div>
</section>
